/**
  * Default settings for CSS resets
  */

*, *::before, *::after 
{
    box-sizing: border-box;
}

main 
{
    display: block;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd 
{
    margin: 0;
}

ul[role='list'], ol[role='list'] 
{
    list-style: none;
}

html 
{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

hr 
{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

html:focus-within 
{
    scroll-behavior: smooth;
}

body 
{
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a
{
    background-color: transparent;

    &:not([class])
    {
        text-decoration-skip-ink: auto;
    }
}

img, picture 
{
    border-style: none;
    max-width: 100%;
    display: block;
}

input, button, textarea, select 
{
    font: inherit;
    margin: 0;
}

button, input 
{
    overflow: visible;
}

button, select 
{
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] 
{
    -webkit-appearance: button;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button 
{
    height: auto;
}

@media (prefers-reduced-motion: reduce) 
{
    html:focus-within 
    {
        scroll-behavior: auto;
    }
  
    *, *::before, *::after 
    {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
