/**
  * Main stylesheet
  */
  @import 'variables.scss', 'defaults.scss', 'fontawesome.scss';


/* Default body settings */
body
{
  overflow-x: hidden; // ! TODO

  &.active-hamburger
  {
      overflow: hidden;
  }
}

/* Default style for sections */
section
{
  font-family: $default-font;
  width: 100vw;
  height: auto;
  position: relative;
  //margin-bottom: 80px;

  /* Default settings for container */
  .container
  {
      padding: 0 $container-padding;
      @media screen and (max-width: $width-breakpoint-1) 
      {
          padding: 0 $container-padding-2;
      }

      @media screen and (max-width: $width-breakpoint-2) 
      {
          padding: 0 $container-padding-3;
      }

      @media screen and (max-width: $width-breakpoint-3) 
      {
          padding: 0 $container-padding-4;
      }
  }

  .content
  {
      padding-top: 50px;
      padding-bottom: 50px;

      @media screen and (max-width: $width-breakpoint-3) 
      {
          padding-top: 30px;
          padding-bottom: 30px;
      }
  }

  &.mg-container
  {
      margin: 80px 0;
  }

  /* Title settings */
  .primary
  {
      color: $cta-color;
  }

  .title
  {
      font-size: 50px;
      text-align: left;
      margin-bottom: 40px;

      @media screen and (max-width: $width-breakpoint-3) 
      {
          font-size: 45px;
          line-height: 1;
      }
  }

  .subtitle
  {
      margin-bottom: -10px;

      @media screen and (max-width: $width-breakpoint-3) 
      {
          margin-bottom: 5px;
          font-size: 15px;
      }
  }

  .title-inverse
  {
      color: white;
  }

  .article
  {
      text-align: center;
  }


  .description
  {
      margin-top: 50px;

      h1
      {
          font-size: 40px;
          margin-bottom: 10px;
      }

      p
      {
          color: lighten(black, 30%);
      }
  }
}

/* Social media button outer animation */
.radial-out
{
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition: color 600ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:before 
  {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    transition: 600ms ease-out;
  }

  &:hover:before 
  {
    transform: scale(0);
  }

  &.radial-out-facebook
  {
    background-color: $facebook-color !important;
  }

  &.radial-out-pinterest
  {
    background-color: $pinterest-color !important;
  }

  &.radial-out-twitter
  {
    background-color: $twitter-color !important;
  }

  &.radial-out-tumblr
  {
    background-color: $tumblr-color !important;
  }
}

/* Social media button design and inner animation */
.social-item
{
  position: relative;
  display: block;
  overflow: hidden;

  background: white;
  border-radius: 6px;
  width: 55px;
  height: 55px;
  margin-right: 15px;
  max-width: 55px;

  transition: all 500ms ease-in-out;

  i 
  {
    position: absolute;
    font-size: 21px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out, color 80ms;

    @supports (-moz-appearance:none) 
    {
      transition: all 500ms ease-in-out;
    }
  }

  &.facebook 
  {
    color: $facebook-color;
    border-color: $facebook-color;
    background: {
      image: linear-gradient(45deg, $facebook-color 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
  }

  &.pinterest
  {
    color: $pinterest-color;
    background: {
      image: linear-gradient(45deg, $pinterest-color 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    border-color: $pinterest-color;
  }

  &.twitter
  {
    color: $twitter-color;
    background: {
      image: linear-gradient(45deg, $twitter-color 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    border-color: $twitter-color;
  }

  &.tumblr
  {
    color: $tumblr-color;
    background: {
      image: linear-gradient(45deg, $tumblr-color 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    border-color: $tumblr-color;
  }

  &.linear-in:hover
  {
    background-position: 0;
    color: white;
    
    i
    {
      font-size: 25px;
    }
  }
}