/**
  * Part1 stylesheet
  */
  @import 'main.scss';


/* Default body settings */
body
{
    overflow-x: hidden; // ! TODO

    &.active-hamburger
    {
        overflow: hidden;
    }
}

/* Default style for sections */
section
{
    font-family: $default-font;
    width: 100vw;
    height: auto;
    position: relative;
    //margin-bottom: 80px;

    /* Default settings for container */
    .container
    {
        padding: 0 $container-padding;
        @media screen and (max-width: $width-breakpoint-1) 
        {
            padding: 0 $container-padding-2;
        }

        @media screen and (max-width: $width-breakpoint-2) 
        {
            padding: 0 $container-padding-3;
        }

        @media screen and (max-width: $width-breakpoint-3) 
        {
            padding: 0 $container-padding-4;
        }
    }

    .content
    {
        padding-top: 50px;
        padding-bottom: 50px;

        @media screen and (max-width: $width-breakpoint-3) 
        {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &.mg-container
    {
        margin: 80px 0;
    }

    /* Title settings */
    .primary
    {
        color: $cta-color;
    }

    .title
    {
        font-size: 50px;
        text-align: left;
        margin-bottom: 40px;

        @media screen and (max-width: $width-breakpoint-3) 
        {
            font-size: 45px;
            line-height: 1;
        }
    }

    .subtitle
    {
        margin-bottom: -10px;

        @media screen and (max-width: $width-breakpoint-3) 
        {
            margin-bottom: 5px;
            font-size: 15px;
        }
    }

    .title-inverse
    {
        color: white;
    }

    .article
    {
        text-align: center;
    }


    .description
    {
        margin-top: 50px;

        h1
        {
            font-size: 40px;
            margin-bottom: 10px;
        }

        p
        {
            color: lighten(black, 30%);
        }
    }
}

/* Event section design */
.event
{
    /* Image box settings */
    .photo-container
    {
        width: calc(100% - 10px);
        display: grid;
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: "f s"
                             "f t";
        grid-gap: 25px;

        @media screen and (max-width: $width-breakpoint-2)
        {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px 200px;
        }

        @media screen and (max-width: $width-breakpoint-3)
        {
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat( 3, 200px);
            grid-template-areas: "f"
            "s"
            "t";
            grid-gap: 10px;
        }

        @media screen and (max-width: $width-breakpoint-3)
        {
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat( 3, 200px);
            grid-template-areas: "f"
            "s"
            "t";
            grid-gap: 10px;
        }

        .img
        {
            border-radius: 5px;
            max-width: 100%;
            height: auto;
            background-size: cover;
            transition: transform 200ms;

            &:nth-child(1)
            {
                grid-area: f;
            }

            &:nth-child(2)
            {
                grid-area: s;
            }

            &:nth-child(3)
            {
                grid-area: t;
            }

            &:hover
            {
                transform: scale(102%);
            }
        }
    }

    /* Default grid settings */
    .grid-box
    {
        display: grid;

        &.grid-box-2
        {
            grid-template-columns: 4fr 3fr;
            grid-gap: 25px;

            @media screen and (max-width: $width-breakpoint-2)
            {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: $width-breakpoint-3) 
            {
                grid-template-columns: 1fr;
            }
        }   
    }
}

/* Schedule section design */
.schedule
{
    $bg-decoration-color: #5f5f5f;
    background-color: darken($header-bg,10%);
    background-image: radial-gradient($bg-decoration-color 5%, transparent 5%),
    radial-gradient($bg-decoration-color 5%, transparent 5%);
    background-position: 0 0, 20px 20px;
    background-size: 20px 20px;

    .title
    {
        text-align: center;
    }

    .timeline
    {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 110px 5px 110px;
        grid-template-areas: "1 2 c 4 i 6"
                             "l l l l l l"
                             "7 w 9 v 11 o";

        @media screen and (max-width: $width-breakpoint-3) 
        {
            grid-template-rows: repeat(6, 100px);
            grid-template-columns: 1fr 5px 1fr;
            grid-template-areas: "1 l 7"
                                 "2 l w"
                                 "c l 9"
                                 "4 l v"
                                 "i l 11"
                                 "6 l o";
        }

        .line
        {
            background: white;
            grid-area: l;
            border-radius: 5px;
        }

        .event
        {
            text-align: center;
            border-radius: 5px;
            position: relative;
            color: white;
            cursor: pointer;

            &.top
            {
                margin-bottom: 20px;
                margin-top: 15px;

                &:hover::after
                {
                    background: $cta-color;
                    transition: all 200ms;
                }

                &::after
                {
                    content: "";
                    position: absolute;
                    //background: darken($header-bg,10%);
                    background: white;
                    border: 5px solid darken($header-bg,10%);
                    width: 25px;
                    height: 25px;
                    border-radius: 30px;
                    top: 85px;
                    left: 50%;
                    transform: translateX(-60%);
                    margin: 0 2px;
                    z-index: 30;
                    transition: all 200ms;

                    @media screen and (max-width: $width-breakpoint-3) 
                    {
                        top: 20px;
                        left: auto;
                        right: -32px;
                    }
                }

                h1
                {
                    margin-bottom: -8px;
                }
            }

            &.bottom
            {
                margin-top: 20px;
                margin-bottom: 15px;

                &:hover::after
                {
                    background: $cta-color;
                    transition: all 200ms;
                }

                &::after
                {
                    content: "";
                    position: absolute;
                    //background: darken($header-bg,10%);
                    background: white;
                    border: 5px solid darken($header-bg,10%);
                    width: 25px;
                    height: 25px;
                    border-radius: 30px;
                    bottom: 85px;
                    left: 50%;
                    transform: translateX(-60%);
                    margin: 0 2px;
                    z-index: 30;
                    transition: all 200ms;

                    @media screen and (max-width: $width-breakpoint-3) 
                    {
                        top: 20px;
                        right: auto;
                        left: -2px;
                    }
                }

                h2
                {
                    margin-bottom: -8px;
                }
            }

            h1
            {
                font-size: 18px;
                font-weight: 100;
                color: $cta-color;
            }

            h2
            {
                font-weight: 500;

                @media screen and (max-width: $width-breakpoint-2-7) 
                {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Artists section design */
.artists
{
    .artist-container
    {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;

        @media screen and (max-width: $width-breakpoint-2-7) 
        {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: $width-breakpoint-3) 
        {
            grid-template-columns: 1fr;
        }

        .artist
        {
            cursor: pointer;
            border-radius: 10px;
            padding: 20px;
            //border: .5px solid rgba($header-bg, .7);
            transition: all 300ms;

            &:hover
            {
                background: rgba($header-bg, .1);
            }

            img
            {
                border-radius: 10px;
                margin-bottom: 15px;
                height: 150px;
                width: auto;
                object-fit: cover;
            }

            h1
            {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            p
            {
                font-size: 12px;
                font-weight: 200;
            }

            &.active
            {
                color: white;
                background: $header-bg;
            }
        }
    }
}

/* Tickets section design */
.tickets
{
    .inner-container
    {
        $bg-decoration-color: #5f5f5f;
        //background-color: rgba($facebook-color, .2);
        background-color: rgba($header-bg, 1);
        background-image: radial-gradient($bg-decoration-color 5%, transparent 5%),
        radial-gradient($bg-decoration-color 5%, transparent 5%);
        background-position: 0 0, 20px 20px;
        background-size: 20px 20px;
        color: white;

        border-radius: 5px;
        padding: 40px 30px;

        .input-container
        {
            background: white;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            width: fit-content;
            border: .1px solid rgba(black, .2);
    
            .input-group
            {
                display: flex;

                @media screen and (max-width: $width-breakpoint-2) 
                {
                    flex-direction: column;
                    max-width: 100%;
                }

                .input
                {
                    border: 1px solid rgba(black, .7);
                    font-size: 15px;
                    font-weight: 100;
                    padding: 5px 15px;
                    outline: none;

                    @media screen and (max-width: $width-breakpoint-2) 
                    {
                        margin-bottom: 7px;
                    }

                    &:nth-child(1)
                    {
                        border-radius: 5px 0 0 5px;
                        width: 300px;

                        @media screen and (max-width: $width-breakpoint-2) 
                        {
                            width: auto;
                            border-radius: 5px;
                        }
                    }

                    &:nth-child(2)
                    {
                        border-left: none;

                        @media screen and (max-width: $width-breakpoint-2) 
                        {
                            border-radius: 5px;
                            border-left: 1px solid rgba(black, .7);
                        }
                    }

                    &:nth-child(3)
                    {
                        border-radius: 0 5px 5px 0;
                        border-left: none;

                        @media screen and (max-width: $width-breakpoint-2) 
                        {
                            border-radius: 5px;
                            border-left: 1px solid rgba(black, .7);
                        }
                    }
                }

                .btn
                {
                    background: $cta-color;
                    border: 1px solid darken($cta-color, 15%);
                    color: white;
                    border-radius: 5px;
                    padding: 0 20px;
                    margin-left: 55px;
                    cursor: pointer;
                    transition: all 200ms;

                    @media screen and (max-width: $width-breakpoint-2) 
                    {
                        margin: 15px 0 0 0;
                        padding: 5px 20px;
                    }

                    &:hover
                    {
                        background: lighten($cta-color, 5%);
                    }

                    &:active
                    {
                        transform: scale(96%);
                    }
                }
            }
        }
    }
}

/* FAQ section design */
.faq
{
    h1, h3
    {
        text-align: center;
    }

    .question-box
    {
        .question
        {
            position: relative;
            font-family: $default-font;
            margin-bottom: 18px;

            .collapsible 
            {
                background-color: rgba(black, .1);
                border-radius: 5px;
                color: white;
                cursor: pointer;
                padding: 20px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                font-weight: 600;
                transition: all 200ms;
                color: black;
                position: relative;

                .br
                {
                    display: none;

                    @media screen and (max-width: $width-breakpoint-3) 
                    {
                        display: block;
                    }
                }

                &:hover, &.active
                {
                    background-color: rgba(black, .3);
                }

                /*&::before
                {
                    position: absolute;
                    content: "";
                    left: 18px;
                    bottom: 0;
                    width: calc(100% - 36px);
                    border-bottom: .5px solid rgba(black, .6);
                }*/

                &::after
                {
                    font-family: 'Font Awesome 5 Free';
                    content: "\2b";
                    position: absolute;
                    right: 20px;
                    font-size: 28px;
                    top: 7.5px;
                    color: $cta-color;
                }

                &.active
                {
                    border-radius: 5px 5px 0 0;
                    transition: all 200ms;

                    &::after
                    {
                        font-family: 'Font Awesome 5 Free';
                        content: "\f068";
                        position: absolute;
                        right: 20px;
                        font-size: 17px;
                        top: 19px;
                        color: $cta-color;
                    }
                }
              }
              
              .content 
              {
                padding: 15px 18px;
                display: none;
                overflow: hidden;
                background-color: rgba(black, .1);
                border-radius: 0 0 5px 5px;
                font-size: 13px;
                font-weight: 200;
              }
        }
    }
}

/* About us section design */
.about
{
    .container
    {
        $bg-color3: lighten(#444cf7, 30%);
        background: lighten($facebook-color, 50%);
        $bg-decoration-color: #5f5f5f;
        background-image: radial-gradient( $bg-color3 5%, transparent 5%),
        radial-gradient( $bg-color3 5%, transparent 5%);
        background-position: 0 0, 30px 30px;
        background-size: 30px 30px;
        /*background-color: #e5e5f7;
        background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f3f3fc 20px ), repeating-linear-gradient( $bg-color3, $bg-color3 );*/

        h1, h3
        {
            text-align: center;
        }

        .review-container
        {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 30px;

            @media screen and (max-width: $width-breakpoint-2) 
            {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 15px;
            }

            @media screen and (max-width: $width-breakpoint-3) 
            {
                grid-template-columns: 1fr;
                grid-gap: 15px;
            }

            .review
            {
                border-radius: 5px;
                padding: 20px;
                cursor: pointer;
                transition: all 200ms;

                .text
                {
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                .writer
                {
                    font-size: 10px;
                    font-weight: 500;
                }

                &:hover
                {
                    background: $header-bg;
                    color: white;
                }
            }
        }
    }
}

/* Header, navbar design */
header
{
    font-family: $default-font;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    z-index: 90;
    transition: background 200ms ease-in;

    @media screen and (max-width: $width-breakpoint-3) 
    {
        background: darken($header-bg,10%);
    }

    .container
    {
        padding: 20px $container-padding;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $width-breakpoint-1) 
        {
            padding: 20px $container-padding-2;
        }

        @media screen and (max-width: $width-breakpoint-2) 
        {
            padding: 20px $container-padding-3;
        }

        @media screen and (max-width: $width-breakpoint-3) 
        {
            padding: 20px $container-padding-4;
        }
    }

    .logo
    {
        color: white;
        font-weight: 900;
        font-size: 22px;
        cursor: default;
    }   

    &.navigation-scroll
    {
        background: darken($header-bg,10%);
    }

    .navigation
    {
        display: flex;
        cursor: pointer;
        align-items: center;

        @media screen and (max-width: $width-breakpoint-2-5) 
        {
            display: none;
        }

        .item
        {
            color: rgba(white, .55);
            font-size: 18px;
            font-weight: 600;
            margin-right: 40px;
            transition: color 500ms;

            &:hover
            {
                color: rgba(white, .9);
            }

            &.active
            {
                color: white;
            }

            &:last-child
            {
                margin-right: 0;
            }
        }
    }

    .hamburger-navigation
    {
        display: none;
        cursor: pointer;
        color: rgba(white, .55);
        font-size: 20px;
        align-items: center;

        &:hover
        {
            color: rgba(white, .9);
        }

        &.active
        {
            color: white;
        }

        @media screen and (max-width: $width-breakpoint-2-5) 
        {
            display: flex;
        }

        i
        {
            font-family: 'Font Awesome 5 Free';
        }
    }
}

/* Footer design */
footer
{
    background: darken($header-bg,10%);
    color: white;
    font-family: $default-font;

    .container
    {
        padding: 20px $container-padding;

        @media screen and (max-width: $width-breakpoint-1) 
        {
            padding: 20px $container-padding-2;
        }

        @media screen and (max-width: $width-breakpoint-2) 
        {
            padding: 20px $container-padding-3;
        }

        @media screen and (max-width: $width-breakpoint-3) 
        {
            padding: 0 $container-padding-4;
        }
    }

    .link-container
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        padding: 45px 0 30px 0;

        @media screen and (max-width: $width-breakpoint-3) 
        {
            grid-template-columns: 1fr;
        }
    }

    .hr-container
    {
        border-bottom: .1px solid rgba(white, .5);
    }

    .copyright
    {
        color: rgba(white, .8);
        padding-top: 25px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: 100;
        font-size: 12px;

        @media screen and (max-width: $width-breakpoint-3) 
        {
            padding-bottom: 25px;
        }
    }

    h1
    {
        font-size: 16px;
        margin-bottom: 20px;
    }

    h2
    {
        font-size: 12px;
        font-weight: 100;
        color: rgba(white, .8);
    }

    .link
    {
        cursor: pointer;
        transition: all 200ms;
        margin-bottom: 7px;

        &:hover
        {
            color: rgba(white, .9);
            transition: all 200ms;
        }
    }

    .social-container
    {
        display: flex;
        margin-bottom: 20px;

        .social-item
        {
            width: 35px;
            height: 35px;

            i
            {
                font-size: 15px;
            }
        }
    }
}

/* Landing section design */
.landing
{
    background: black; 
    height: 100vh;

    @media screen and ( max-height: $height-breakpoint-1 ) 
    {
        height: $height-breakpoint-1;
    }

    @media screen and (max-width: $height-breakpoint-2) 
    {
        height: 120vh;
    }

    .landing-video
    {
        position: relative;
        width: 100vw;
        height: inherit;
        overflow: hidden;
        z-index: 1;

        video
        {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            object-fit: cover;
            background: black;
            backface-visibility: hidden;

            /* Firefox doesn't support backdrop-filter */
            @supports (-moz-appearance:none) 
            {
                filter: grayscale(50%) blur(6px);
                transform: scale(1.1);
            }
        }
    }

    .landing-content-container
    {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: inherit;
        display: flex;
        align-items: center;
        backdrop-filter: blur(6px);

        .landing-content
        {
            h1, h2, h3
            {
                color: white;
            }

            h1
            {
                font-size: 72px;
                line-height: 1;
                width: 60vw;
                margin-bottom: 20px;
                width: 60vw;
            }

            h2
            {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 20px;
            }

            h3
            {
                width: 40vw;
                font-weight: 300;
                margin-bottom: 50px;
            }

            @media screen and ( max-height: $height-breakpoint-2 )
            {
                h1
                {
                    font-size: 48px;
                }

                h2
                {
                    font-size: 13.33px;
                }

                h3
                {
                    font-size: 13.33px;
                }
            }

            @media screen and ( max-width: $width-breakpoint-2 )
            {
                h1
                {
                    width: 80vw;
                }

                h3
                {
                    width: 60vw;
                }
            }

            @media screen and (max-width: $width-breakpoint-3) 
            {
                h1
                {
                    font-size: 35px;
                    width: 80vw;
                }

                h2
                {
                    font-size: 13.33px;
                }

                h3
                {
                    font-size: 13.33px;
                }
            }

            @media only screen and (max-device-width: 768px)
            {
                h1
                {
                    font-size: 35px;
                    width: 80vw;
                }
            }
        }

        .landing-information-container
        {
            background: white;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            width: fit-content;
            padding: 18px 35px 18px 35px;

            @media screen and (max-width: $width-breakpoint-2-7) 
            {
                padding: 10px 20px;
            }

            @media screen and (max-width: $width-breakpoint-2) 
            {
                flex-direction: column;
            }

            .information-group
            {
                width: 250px;
                padding-left: 40px;

                @media screen and (max-width: $width-breakpoint-2-7) 
                {
                    padding-left: 20px;
                    width: 170px;
                }

                @media screen and (max-width: $width-breakpoint-2) 
                {
                    padding-left: 0;
                }

                &:nth-child(1)
                {
                    padding: 0;
                }

                &:nth-child(6)
                {
                    width: 200px;
                }

                h1
                {
                    margin-bottom: -3px;
                    font-size: 18px;
                    color: rgba(black, .8);

                    @media screen and (max-width: $width-breakpoint-2-7) 
                    {
                        font-size: 15px;
                    }
                }

                h2
                {
                    font-weight: 300;
                    font-size: 15px;
                    color: rgba(black,.6);
                    margin-bottom: -5px;

                    @media screen and (max-width: $width-breakpoint-2-7) 
                    {
                        font-size: 12px;
                    }

                    @media screen and (max-width: $width-breakpoint-2) 
                    {
                        margin-bottom: 10px;
                    }
                }
            }

            .information-inline
            {
                display: flex;

                h2:nth-child(2)
                {
                padding-left: 4px;
                }
            }

            .information-spacer
            {
                height: auto;
                width: .5px;
                background: rgba(black,.4);
                margin: .3px 0;
            }

            .cta
            {
                margin: 0 0 0 auto;
                width: 125px;
                height: 100%;

                @media screen and (max-width: $width-breakpoint-2) 
                {
                    margin: 0;
                }

                .information-cta
                {
                    position: relative;
                    cursor: pointer;
                    height: 100%;
                    padding: 0 20px;
                    background: $cta-color;
                    color: white;
                    font-weight: 500;
                    border: 1px solid darken($cta-color, 10%);
                    border-radius: 5px;
                }

                .animated-cta
                {
                    transition: all 200ms ease-out;

                    &:hover
                    {
                        background: lighten($cta-color, 7%);
                        border-color: lighter($cta-color, 7%);
                    }

                    &:active
                    {
                        transform: scale(.96);
                        background: darken($cta-color, 15%);
                        border-color: darken($cta-color, 15%);
                    }
                }
            }
        }

        .landing-mouse-scroll-container
        {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 300px;
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);

            @media screen and (max-width: $width-breakpoint-2) 
            {
                bottom: 20px;
            }

            @media screen and (max-width: $width-breakpoint-3) 
            {
                bottom: 20px;
            }

            .mouse-scroll
            {
                width: 30px;
                height: 50px;
                border: 2px solid white;
                border-radius: 60px;
                position: relative;

                &::before 
                {
                    content: '';
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 2s infinite;
                    -webkit-animation: wheel 1500ms infinite;
                }
            }

            @keyframes wheel 
            {
                to {
                    opacity: 0;
                    top: 29px;
                }
            }
        }
    }
}

/* Scroll to top button design */
.scroll-to-top
{
    position: fixed;
    bottom: 20px;
    right: -50px;
    width: 50px;
    height: 50px;
    background-color: $header-bg;
    border-radius: 10px;
    z-index: 99;
    transition: background-color 200ms, transform 200ms, right 400ms;
    cursor: pointer;
    opacity: .9;
    //border: 1px solid darken($header-bg, 5%);

    &.bg-inverse
    {
        background-color: white;
        border: none;
        
        i 
        {
            color: $header-bg;
        }

        &:hover
        {
            background-color: darken(white, 10%);
        }
    }

    &:hover
    {
        background-color: lighten($header-bg, 10%);
    }

    &:active
    {
        transform: scale(93%);
    }

    i
    {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Full page navigation mennu design */
.full-page-navigation
{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999 !important;
    top: 0;
    left: 0;
    background-color: darken($header-bg,10%);
    color: white;
    font-family: $default-font;
    font-size: 30px;
    
    &.active
    {
        display: flex;
        padding: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nav-container
    {
        position: relative;

        .item
        {
            margin-bottom: 10px;
            cursor: pointer;
            color: rgba(white, .6);
            transition: all 200ms;

            &:hover
            {
                color: rgba(white, .9);
            }

            &.active
            {
                color: white
            }
        }

        i
        {
            &::before
            {
                content: "\2b";
                transform: rotate(45deg);
                position: fixed;
                top: 20px;
                right: 30px;
                cursor: pointer;
                color: rgba(white, .6);

                &:hover
                {
                    color: rgba(white, .9);
                }

                &.active
                {
                    color: white
                }
            }
        }
    }
}