/**
  * Part3 stylesheet
  */
  @import 'main.scss';



.landing
{
    background: black; 
    height: 500px;

    .landing-video
    {
        position: relative;
        width: 100vw;
        height: inherit;
        overflow: hidden;
        z-index: 1;

        img
        {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            object-fit: cover;
            background: black;
            backface-visibility: hidden;

            /* Firefox doesn't support backdrop-filter */
            @supports (-moz-appearance:none) 
            {
                filter: grayscale(50%) blur(6px);
                transform: scale(1.1);
            }
        }
    }

    .landing-content-container
    {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: inherit;
        display: flex;
        align-items: center;
        backdrop-filter: blur(6px);
        padding-top: 70px;

        .landing-content
        {
            h1, h2, h3
            {
                color: white;
            }

            h1
            {
                font-size: 72px;
                line-height: 1;
                width: 60vw;
                margin-bottom: 10px;
                width: 60vw;
            }

            h2
            {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 10px;
            }

            h3
            {
                width: 40vw;
                font-weight: 300;
                margin-bottom: 50px;
            }

        }

        .landing-information-container
        {
            background: white;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            width: fit-content;
            padding: 18px 35px 18px 35px;


            .information-group
            {
                width: 250px;
                padding-left: 40px;


                &:nth-child(1)
                {
                    padding: 0;
                }

                &:nth-child(6)
                {
                    width: 200px;
                }

                h1
                {
                    margin-bottom: -3px;
                    font-size: 18px;
                    color: rgba(black, .8);

                }

                h2
                {
                    font-weight: 300;
                    font-size: 15px;
                    color: rgba(black,.6);
                    margin-bottom: -5px;

                }
            }

            .information-inline
            {
                display: flex;

                h2:nth-child(2)
                {
                padding-left: 4px;
                }
            }

            .information-spacer
            {
                height: auto;
                width: .5px;
                background: rgba(black,.4);
                margin: .3px 0;
            }

            .cta
            {
                margin: 0 0 0 auto;
                width: 125px;
                height: 100%;


                .information-cta
                {
                    position: relative;
                    cursor: pointer;
                    height: 100%;
                    padding: 0 20px;
                    background: $cta-color;
                    color: white;
                    font-weight: 500;
                    border: 1px solid darken($cta-color, 10%);
                    border-radius: 5px;
                }

                .animated-cta
                {
                    transition: all 200ms ease-out;

                    &:hover
                    {
                        background: lighten($cta-color, 7%);
                        border-color: lighter($cta-color, 7%);
                    }

                    &:active
                    {
                        transform: scale(.96);
                        background: darken($cta-color, 15%);
                        border-color: darken($cta-color, 15%);
                    }
                }
            }
        }

        .landing-mouse-scroll-container
        {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 300px;
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);

            .mouse-scroll
            {
                width: 30px;
                height: 50px;
                border: 2px solid white;
                border-radius: 60px;
                position: relative;

                &::before 
                {
                    content: '';
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 2s infinite;
                    -webkit-animation: wheel 1500ms infinite;
                }
            }

            @keyframes wheel 
            {
                to {
                    opacity: 0;
                    top: 29px;
                }
            }
        }
    }
}

/* Header, navbar design */
header
{
    font-family: $default-font;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    z-index: 90;
    transition: background 200ms ease-in;


    .container
    {
        padding: 20px $container-padding;
        display: flex;
        justify-content: space-between;

    }

    .logo
    {
        color: white;
        font-weight: 900;
        font-size: 22px;
        cursor: default;
    }   

    &.navigation-scroll
    {
        background: darken($header-bg,10%);
    }

    .navigation
    {
        display: flex;
        cursor: pointer;
        align-items: center;

      

        .item
        {
            color: rgba(white, .55);
            font-size: 18px;
            font-weight: 600;
            margin-right: 40px;
            transition: color 500ms;

            &:hover
            {
                color: rgba(white, .9);
            }

            &.active
            {
                color: white;
            }

            &:last-child
            {
                margin-right: 0;
            }
        }
    }

    .hamburger-navigation
    {
        display: none;
        cursor: pointer;
        color: rgba(white, .55);
        font-size: 20px;
        align-items: center;

        &:hover
        {
            color: rgba(white, .9);
        }

        &.active
        {
            color: white;
        }

   
        i
        {
            font-family: 'Font Awesome 5 Free';
        }
    }
}

.mg-container
{
    margin: 40px 0 !important;
}

.organisation-tool
{
    margin-bottom: 20px;

    .action-button-container
    {
        margin-bottom: 30px;
        display: flex;
        $border-color: rgba(black, .2);

        button
        {
            border-radius: 0;
            border: none;
            transition: all 150ms;
            border: .5px solid darken(rgb(168, 168, 168), 45%);
            color: white;
            font-weight: 100 !important;
            background: rgb(168, 168, 168);

            &:hover
            {
                background: darken(rgb(168, 168, 168), 9%);
            }

            &:active, &.active
            {
                background: darken(rgb(168, 168, 168), 25%);
            }

            &.left
            {
                border-radius: 5px 0 0 5px;
            }

            &.middle
            {
                border-left: none;
                border-right: none;
            }

            &.right
            {
                border-radius: 0 5px 5px 0;
            }

            &.all
            {
                border-radius: 5px;
            }

            p
            {
                pointer-events: none;
            }

            i
            {
                pointer-events: none;
            }
        }

        .btn
        {
            display: flex;
            padding: 6px 22px;
            cursor: pointer;
            font-size: 17px;
            font-weight: 500;
            align-items: center;

            i
            {
                font-size: 12px;
                padding-right: 12px;
            }
        }

        .group
        {
            margin-right: 25px;

            h3
            {
                font-weight: 300;
            }

            .btn-group
            {
                display: flex;
            }
        }
    }

    .title
    {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .stat-group
    {
        display: flex;

        h3
        {
            font-weight: 300;
            margin-right: 20px
        }

        .stat
        {
            margin-left: 5px;
            padding: 1px 10px;
            background: rgba(black, .1);
            border: .5px solid rgba(black, .12);
            border-radius: 5px;
        }
    }

    #loading-workspace
    {
        font-weight: 100;
    }

    .workspace
    {
        display: none;
        background: white;
        position: relative;

        .close
        {
            display: none;
            position: fixed;
            top: 20px;
            right: 20px;
            transform: rotate(45deg);
            font-size: 30px;
            color: red;
            cursor: pointer;
        }
    }

    .exported
    {
        border-radius: 5px;
        border: .5px solid darken(rgb(168, 168, 168), 45%);
        padding: 10px;
        outline: none;
    }

    .sorting-grid
    {
        position: relative;
        margin: 25px 0;
        display: grid;
        grid-template-columns: 60px repeat(8, 120px);
        grid-template-rows: 60px repeat(4, 80px);
        grid-template-areas: "r0 ra rb rc rd re rf rg rh"
                             "r1 11 12 13 14 15 16 17 18"
                             "r2 21 22 23 24 25 26 27 28"
                             "r3 31 32 33 34 35 36 37 38"
                             "r4 41 42 43 44 45 46 47 48";

        &:fullscreen
        {
            &::before
            {
                position: absolute;
                content: "asd";
                right: 10px;
                top: 10px;
            }
        }

        .ruler
        {
            display: flex;
            $ruler-color: rgb(168, 168, 168);

            &.top
            {
                align-items: left;
                justify-content: center;
            }

            &.side
            {
                align-items: center;
                justify-content: left;
            }

            .ruler-container
            {
                padding: 5px 10px;
                background: $ruler-color;
                position: relative;
                color: white;
                text-align: center;
                height: 35px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: default;

                transition: background 150ms ease-in;
                &:hover
                {
                    background: darken($ruler-color, 15%);

                    &::before
                    {
                        background: darken($ruler-color, 15%);
                    }
                }
            }

            .ruler-top
            {
                border-radius: 5px 5px 9px 9px;
                
                //border: 1px solid black;
                //border-bottom: none;

                &::after
                {
                    //border: 1px solid black;
                    z-index: -1;
                    content: "";
                    position: absolute;
                    background: $ruler-color;
                    width: 27px;
                    height: 27px;
                    border-radius: 5px;
                    left: 4px;
                    bottom: -7px;
                    transform: rotate(45deg);
                    transition: background 150ms ease-in;
                }
            }

            .ruler-side
            {
                border-radius: 5px 9px 9px 5px;

                &::after
                {
                    //border: 1px solid black;
                    z-index: -1;
                    content: "";
                    position: absolute;
                    background: $ruler-color;
                    width: 27px;
                    height: 27px;
                    border-radius: 5px;
                    right: -7px;
                    top: 4px;
                    transform: rotate(45deg);
                    transition: background 150ms ease-in;
                }
            }
        }

        .seat
        {
            margin: 10px;
            border-radius: 10px;
            //border: .5px solid rgba(black, .3);
            background: rgba(black, .1);
            font-size: 15px;
            font-weight: 200;
            cursor: pointer;
            text-align: center;

            &.taken
            {
                background: lighten(#dc3545, 5%);
                color: white;
                cursor: move;
            }

            &.delete
            {
                cursor: not-allowed !important;
            }

            .seat-item
            {
                border-radius: 10px;
                background: lighten(#dc3545, 5%);
                color: white;
                width: 100%;
                height: 100%;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                cursor: pointer;
                resize: none;
                overflow: hidden;
                text-align: center;
            }
        }
    }
}