/**
  * Part1 stylesheet
  */
  @import 'main.scss';


.full-width-landing
{
    background: black;

    .primary
    {
        color: $cta-color;
    }

    .landing-container
    {
        z-index: 1;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh; 
        overflow: hidden;

        video 
        {
            min-width: 100%; 
            min-height: 100%; 

            width: auto;
            height: auto;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            filter: grayscale(50%) blur(6px);
            object-fit: cover;

            border-bottom: 1px solid transparent;
            background: black;
            backface-visibility: hidden;
        }
    }

    .landing-content-container
    {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 0 $container-padding;
    font-family: "Sofia Pro", Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 50%;
    transform: translate(0, -50%);

    @media screen and (max-width: $desktop-width)
    {
        padding: 0 70px;
    }

    @media screen and (max-width: $phone-width)
    {
        padding: 0 40px;
    }

    @media screen and (max-height: $phone-height)
    {
        top: 10%;
        transform: translate(0,0);
    }

    h1, h2, h3
    {
        color: white;
    }

    h2
    {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 20px;

        @media screen and (max-width: $tablet-width)
        {
        font-size: 15px;
        }

        @media screen and (max-width: $phone-width)
        {
        font-size: 13px;
        }
    }

    h1
    {
        font-size: 72px;
        line-height: 1;
        width: 60vw;
        margin-bottom: 20px;
        width: 60vw;

        @media screen and (max-width: $desktop-width)
        {
        width: 80vw;
        }

        @media screen and (max-width: $tablet-width)
        {
        font-size: 60px;
        }

        @media screen and (max-width: $phone-width)
        {
        font-size: 50px;
        }

        @media screen and (max-height: $tablet-height)
        {
        font-size: 35px;
        }

        @media screen and (max-height: $phone-height)
        {
        font-size: 30px;
        }
    }

    h3
    {
        width: 40vw;
        font-weight: 300;
        margin-bottom: 50px;

        @media screen and (max-width: $tablet-width)
        {
        font-size: 15px;
        width: 55vw;
        }

        @media screen and (max-width: $phone-width)
        {
        font-size: 13px;
        width: 65vw;
        }
    }

    .landing-information-container
    {
        background: white;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        width: 60vw;
        padding: 18px 35px 18px 35px;

        @media screen and (max-width: $desktop-width)
        {
        width: 80vw;
        }

        @media screen and (max-width: $tablet-width)
        {
        padding: 10px 20px;
        }

        @media screen and (max-width: $mini-tablet-width)
        {
        #info-countdown
        {
            display: none;
        }
        }

        @media screen and (max-width: $phone-width)
        {
        padding: 15px 20px;
        flex-direction: column;
        width: 50%;
        }

        @media screen and (max-width: $mini-phone-width)
        {
        width: 70%;
        }

        .info-group
        {
        width: 33.33%;
        padding-left: 40px;

        @media screen and (max-width: $phone-width)
        {
            padding-left: 0;
            width: 100%;
        }

        &:nth-child(1)
        {
            padding-left: 0;
        }

        h1, h2
        {
            font-size: 20px;
            color: black;
            margin: 0;
            text-transform: none;
            width: auto;
        }

        h1
        {
            margin-bottom: 0px;
            font-size: 18px;
            color: rgba(0,0,0,.8);

            @media screen and (max-width: $tablet-width)
            {
            font-size: 14px;
            }

            @media screen and (max-width: $tablet-width)
            {
            margin-bottom: 0;
            }
        }

        h2
        {
            font-weight: 300;
            font-size: 15px;
            color: rgba(0,0,0,.6);
            margin-bottom: -5px;

            @media screen and (max-width: $tablet-width)
            {
            font-size: 11px;
            }

            @media screen and (max-width: $tablet-width)
            {
            margin-bottom: 5px;
            }
        }

        .info-inline
        {
            display: flex;

            h2:nth-child(2)
            {
            padding-left: 4px;
            }
        }
        }

        .info-spacer
        {
        height: auto;
        width: .5px;
        background: rgba(0,0,0,.4);
        margin: .3px 0;
        }
    }
    }

    .landing-social-container
    {
        position: fixed;
        bottom: 50px;
        width: 100vw;
        z-index: 4;
        padding: 0 $container-padding;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $desktop-width)
        {
        padding: 0 70px;
        }

        @media screen and (max-width: $phone-width)
        {
        padding: 0 40px;
        }
    }
}  