/**
  * Variables for the website theme
  */

$facebook-color: #4267B2;
$pinterest-color: #c8232c;
$twitter-color: #00acee;
$tumblr-color: #34526f;

$desktop-width: 1460px;
$tablet-width: 1090px;
$mini-tablet-width: 840px;
$phone-width: 700px;
$mini-phone-width: 450px;

$tablet-height: 910px;
$phone-height: 740px;