/**
  * Variables for the website theme
  */

$facebook-color: #4267B2;
$pinterest-color: #c8232c;
$twitter-color: #00acee;
$tumblr-color: #34526f;

$cta-color: #ea4c89;
$header-bg2: #070a1a;
$header-bg: #0a152f;
$header-bg3: #1b1b1b;

$desktop-width: 1460px;
$tablet-width: 1090px;
$mini-tablet-width: 840px;
$phone-width: 700px;
$mini-phone-width: 450px;

$tablet-height: 910px;
$phone-height: 740px;

$default-font: "Sofia Pro", Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;

$container-padding: 200px;
$container-padding-2: 100px;
$container-padding-3: 50px;
$container-padding-4: 20px;

$width-breakpoint-1: 1380px;
$width-breakpoint-2-7: 1210px;
$width-breakpoint-2-5: 1000px;
$width-breakpoint-2: 768px;
//$width-breakpoint-3: 380px;
$width-breakpoint-3: 470px;

$height-breakpoint-1: 850px;
$height-breakpoint-2: 640px;